{% extends 'index.html' %}

{% block title %}
<title>Eshop | Update Profile</title>
{% endblock title %}

{% block content %}
<div class="container my-3">
    <div class="row my-5">
        <div class="col-md-2 d-md-block d-none"></div>
        <div class="col-md-8 col-12">
            <h5 class="background text-light text-center p-2">Update Profile Section</h5>
            {% for i in messages %}
            <div class="alert alert-danger fade show" role="alert">
                {{ i }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Your Full Name"
                            value="{{ user.name}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Profile Picture</label>
                        <input type="file" class="form-control" name="profile_picture">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Email Address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Your E-mail"
                            value="{{ user.email}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" name="phone" placeholder="Enter Phone Number"
                            value="{{ user.phone}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">House or Building Number</label>
                        <input type="text" class="form-control" name="addressline1"
                            placeholder="Enter House / Building Number" value="{{ user.addressline1}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">Street Number or Nearby</label>
                        <input type="text" class="form-control" name="addressline2"
                            placeholder="Enter Street Number or Nearby" value="{{ user.addressline2}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">Village or Locality</label>
                        <input type="text" class="form-control" name="addressline3"
                            placeholder="Enter Village or Locality" value="{{ user.addressline3}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">PIN Code</label>
                        <input type="number" class="form-control" name="pin" placeholder="Enter PIN Code"
                            value="{{ user.pin}}">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter City name"
                            value="{{ user.city}}">
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label">State</label>
                        <input type="text" class="form-control" name="state" placeholder="Enter State name"
                            value="{{ user.state}}">
                    </div>
                </div>

                <button type="submit" class="btn background text-light w-100 btn-sm mybtn">Update Profile</button>
            </form>

            <div class="d-flex justify-content-between mt-3">
            </div>
        </div>
        <div class="col-md-2 d-md-block d-none"></div>
    </div>
</div>
{% endblock content %}